@media (max-width:1440px) {
header .tel {
    font-size: 32px;
}

.tel:hover{
  font-size: 35px;
  text-shadow: #000 2px 2px 8px;
}

.header_preview h1 {
    color: #ffffff;
    font-size: 45px;
    margin-bottom: 20px;
    text-shadow: #000000 2px 2px 8px;
}

.header_preview p {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 100px;
    text-shadow: #000000 2px 2px 4px;
}

li {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 30px;
    line-height: 1.2;
    font-size: 24px;
}

.hr_3 {
    border: 0;
    height: 530px;
    width: 2px;
    background-color: black;
    margin: 0 85px;
}

.hr_5 {
    width: 2px;
    height: 450px;
    margin: 0 85px;
    background-color: black;
    border: 0;
}
}

@media (max-width:1280px) {
li {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 30px;
    line-height: 1.2;
    font-size: 23px;
}

.h1_last_section{
  text-align: center;
  font-size: 46px;
}

.h3_last_section {
    text-align: center;
    font-size: 30px;
    max-width: 1000px;
    margin: 50px auto 0;
    padding: 0;
}

.h1_nav {
    font-size: 40px;
    font-weight: 500;
    margin-right: 50px;
    max-width: 150px;
}

header .tel {
    font-size: 32px;
}

.tel:hover{
  font-size: 35px;
  text-shadow: #000 2px 2px 8px;
}
}

@media (max-width:1024px) {
.wrapper {
    margin: 0 80px;
}

.header_preview {
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.header_preview h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.h1_nav {
    font-size: 35px;
    font-weight: 500;
    margin-right: 5px;
    max-width: 160px;
}

header .tel {
    font-size: 29px;
}

.tel:hover {
    font-size: 30px;
    text-shadow: #000 2px 2px 8px;
}

.header_ul li {
    padding-right: 25px;
}

li {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 30px;
    line-height: 1.2;
    font-size: 25px;
}

.h1_last_section {
    text-align: center;
    font-size: 45px;
}

.h3_last_section {
    text-align: center;
    font-size: 28px;
    max-width:800px;
    margin: 30px auto 0;
    padding: 0;
}

h2 {
    text-align: center;
    font-size: 45px;
    margin-top: 30px;
}

h3 {
    text-align: center;
    font-size: 35px;
    margin: 30px 0;
}

.hr_5 {
    width: 2px;
    height: 450px;
    margin: 0 50px;
    background-color: black;
    border: 0;
}
}

@media (max-width:992px) {
.wrapper {
    margin: 0 60px;
}

li {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 20px;
    line-height: 1.2;
    font-size: 25px;
}

.service-name {
    display: inline;
    background-color: white;
    padding-right: 3px;
    position: relative;
    z-index: 2;
    max-width: 270px;
}


img {
    border-radius: 30px;
}

.grid_img{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1px;
}

.header_ul li {
    padding-right: 20px;
}

header .tel {
    font-size: 24px;
    margin-left: 20px;
}

.tel:hover{
  font-size: 26px;
  text-shadow: #000 2px 2px 8px;
}
}

@media (max-width:854px) {

.wrapper{
    margin: 0 40px;
}

.h1_nav {
   font-size: 30px;
   font-weight: 500;
   margin-right: 5px;
   max-width: 110px;
}

.h1_nav {
    display: none;
}

.burger-menu {
    display: block;
}

header nav a {
    display: block;
    transition: color 0.5s ease-out;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px 0;
}

.header_ul {
    flex-direction: column;
    position: absolute;
    left: -220px;
    top: 0;
    padding: 75px 0px 15px 20px;
    width: 200px;
    background-color: rgb(133, 175, 223);
    border-radius: 0 0 30px 0 ;
    transition: transform .5s;
}

.header.open .header_ul{
    transform: translateX(100%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 15px;
    letter-spacing: 0.1em;
}


header a {
    transition: color 0.5s ease-out;
    color: black;
    font-size: 16px;
}

header .tel {
    font-size: 29px;
    text-shadow: #000 1px 1px 5px;
}

.tel:hover {
    font-size: 32px;
    text-shadow: #000 2px 2px 8px;
}

.zag_work_image {
    display: flex;
    font-size: 35px;
    justify-content: center;
    max-height: 60px;
    margin-bottom: 30px;
}

li {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 10px;
    line-height: 1.2;
    font-size: 24px;
}

.service-name {
    display: inline;
    background-color: white;
    padding-right: 3px;
    position: relative;
    z-index: 2;
    max-width: 250px;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 25px;
}

h3 {
    text-align: center;
    font-size: 35px;
    margin: 20px 0;
}

.header_preview h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.header_preview p {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 100px;
    text-shadow: #000000 2px 2px 4px;
}

.hr_3 {
    border: 0;
    height: 430px;
    width: 2px;
    background-color: black;
    margin: 0 40px;
}

.hr_5 {
    width: 2px;
    height: 300px;
    margin: 0 40px;
    background-color: black;
    border: 0;
}

.grid_price {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 3%;
}

.hr_1 {
    border: 0;
    background-color: black;
    height: 2px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.h1_last_section {
    text-align: center;
    font-size: 42px;
}

.h3_last_section {
    text-align: center;
    font-size: 30px;
    max-width: 800px;
    margin: 30px auto 0;
    padding: 0;
}

p {
    font-size: 26px;
}

.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2%;
}

footer {
    background-color: #D9D9D9;
    margin-top: 30px;
    padding-bottom: 50px;
    padding-top: 10px;
}

.p_footer_tel {
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
}

.tel_2 {
    font-size: 40px;
    text-decoration: none;
    color: #000;
}

.footer_p {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.header_preview {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
}

@media (max-width:768px) {
.wrapper {
    margin: 0 40px;
}

.wrapper_header {
}

.header_preview {
    margin-top: 40vh;
    display: flex;
    flex-direction: column;
    align-items: end;
}

header .tel {
    font-size: 28px;
    text-shadow: #000 1px 1px 5px;
}

.tel:hover {
    font-size: 30px;
    text-shadow: #000 2px 2px 8px;
}

    .grid_price{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 10%;
        }

    .column{
        
    }

    .hr_3 {
        display: none;
        border: 0;
        height: 430px;
        width: 2px;
        background-color: black;
        margin: 0 40px;
    }

    .hr_4 {
        display: none;
    }

    .tryb_can {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .price_end {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .hr_5 {
        display: none;
    }

    .galochka {
        width: 80px;
        height: 80px;
    }

    p {
        font-size: 23px;
    }

    footer {
    background-color: #D9D9D9;
    padding-bottom: 50px;
    padding-top: 10px;
    position: relative;
    }

    .p_footer_tel {
        font-size: 30px;
        padding: 20px 0;
        text-align: center;
    }

    .tel_2 {
        font-size: 40px;
        text-decoration: none;
        color: #000;
    }

    .footer_p {
        font-size: 30px;
        font-weight: 400;
        text-align: center;
    }
}

@media (max-width:640px) {
    header .tel {
        font-size: 32px;
        text-shadow: #000 1px 1px 5px;
    }

    .tel:hover {
        font-size: 34px;
        text-shadow: #000 2px 2px 8px;
    }

    .hr_2_media {
        display: block;
    }
    li {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 12px;
        line-height: 1.2;
        font-size: 25px;
    }

    .last {
        margin-top: 50px;
    }

    .h1_last_section {
        text-align: center;
        font-size: 38px;
    }

    .h3_last_section {
        text-align: center;
        font-size: 26px;
        max-width: 800px;
        margin: 30px auto 0;
        padding: 0;
    }

    .top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5%;
    }

    p {
        font-size: 19px;
    }

    footer {
        background-color: #D9D9D9;
        padding-bottom: 20px;
        padding-top: 10px;
        position: relative;
        }
}

@media (max-width:480px) {
    .header_preview {
        margin-top: 30vh;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .header_preview h1 {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .header_preview p {
        color: #ffffff;
        font-size: 24px;
        margin-bottom: 100px;
        text-shadow: #000000 2px 2px 4px;
    }

    h2 {
        text-align: center;
        font-size: 35px;
        margin-top: 25px;
    }

    h3 {
        text-align: center;
        font-size: 30px;
        margin: 20px 0;
    }

    .germet{
        display: none;
    }

    li {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 12px;
        line-height: 1.2;
        font-size: 24px;
    }

    .wrapper {
        margin: 0 30px;
    }

    .zag_work_image {
        display: flex;
        font-size: 30px;
        justify-content: center;
        margin-bottom: 30px;
    }

    .grid_img {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 0;
    }

    .h1_last_section {
        text-align: center;
        font-size: 32px;
    }

    .h3_last_section {
        text-align: center;
        font-size: 18px;
        max-width: 800px;
        margin: 30px auto 0;
        padding: 0;
    }

    .galochka {
        width: 70px;
        height: 70px;
    }

    p {
        font-size: 14px;
    }

    .p_footer_tel {
        font-size: 25px;
        padding: 20px 0;
        text-align: center;
        margin: 0;
    }

    .tel_footer {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    .tel_2 {
        font-size: 30px;
        text-decoration: none;
        color: #000;
    }

    .footer_p {
        font-size: 25px;
        font-weight: 400;
        text-align: center;
    }

    img {
        border-radius: 20px;
    }
}

@media (max-width:414px) {
    .header_preview h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .header_preview p {
        color: #ffffff;
        font-size: 20px;
        margin-bottom: 70px;
        text-shadow: #000000 2px 2px 4px;
    }

    h2 {
        text-align: center;
        font-size: 28px;
        margin-top: 25px;
    }

    h3 {
        text-align: center;
        font-size: 26px;
        margin: 20px 0;
    }

    li {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 11px;
        line-height: 1.2;
        font-size: 22px;
    }

    .zag_work_image {
        display: flex;
        font-size: 26px;
        justify-content: center;
        margin-bottom: 30px;
    }

    .hr_6 {
        border: 0;
        background-color: black;
        height: 2px;
        margin-bottom: 25px;
    }

    .h3_last_section {
        text-align: center;
        font-size: 15px;
        max-width: 800px;
        margin: 20px auto 0;
        padding: 0;
        line-height: 1.5;
    }

    .galochka {
        width: 55px;
        height: 55px;
    }

    p {
        font-size: 12px;
        line-height: 1.5;
    }

    .p_footer_tel {
        font-size: 22px;
        padding: 20px 0;
        text-align: center;
        margin: 0;
    }

    .tel_2 {
        font-size: 26px;
        text-decoration: none;
        color: #000;
    }

    .footer_p {
        font-size: 22px;
        font-weight: 400;
        text-align: center;
    }

}

@media (max-width:402px) {
    header .tel {
        font-size: 27px;
        text-shadow: #000 1px 1px 5px;
    }

    .tel:hover {
        font-size: 29px;
        text-shadow: #000 2px 2px 8px;
    }
}




@media (max-width:399px) {
    li {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 11px;
        line-height: 1.2;
        font-size: 20px;
    }

    .button_header {
        display: block;
        align-items: center;
        border-radius: 40px;
        border: 0;
        width: 160px;
        height: 55px;
        background-color: #4E92C3;
        transition: width 1s ease-in-out, height 1s ease-in-out, box-shadow 1s ease-in-out;
    }

    .button_header a {
        text-decoration: none;
        font-size: 21px;
        color: white;
        font-weight: 200;
        transition: color 1s ease-in-out, font-size 1s ease-in-out;
    }

    .button_header a:hover {
        color: #000000;
        font-size: 23px;
    }

    .button_header:hover {
        width: 170px;
        height: 60px;
    }

    .zag_work_image {
        display: flex;
        font-size: 23px;
        justify-content: center;
        margin-bottom: 30px;
    }

    h2 {
        text-align: center;
        font-size: 24px;
        margin-top: 25px;
    }

    h3 {
        text-align: center;
        font-size: 23px;
        margin: 20px 0;
    }

    .hr_4 {
        margin-top: 15px;
        margin-bottom: 0;
        height: 2px;
        background-color: black;
        border: 0;
    }

    .column {
        flex: 1;
        min-height: 220px;
    }

    .hr_6 {
        border: 0;
        background-color: black;
        height: 2px;
        margin-bottom: 25px;
        margin-top: 15px;
    }
}

@media (max-width:360px) {
    .wrapper {
        margin: 0 20px;
    }

    header .tel {
        font-size: 23px;
        text-shadow: #000 1px 1px 5px;
    }

    .tel:hover {
        font-size: 25px;
        text-shadow: #000 2px 2px 8px;
    }

    li {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 10px;
        line-height: 1.2;
        font-size: 19px;
    }

    .p_footer_tel {
        font-size: 21px;
        padding: 20px 0;
        text-align: center;
        margin: 0;
    }

    .header_preview {
        margin-top: 23vh;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .header_preview h1 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .header_preview p {
        color: #ffffff;
        font-size: 18px;
        margin-bottom: 40px;
        text-shadow: #000000 2px 2px 4px;
    }
}

@media (max-width:360px) {
    li {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 10px;
        line-height: 1.2;
        font-size: 18px; 
    }

    .last {
        margin-top: 30px;
    }

    .h3_last_section {
        text-align: center;
        font-size: 15px;
        max-width: 800px;
        margin: 20px auto 0;
        padding: 0;
        line-height: 1.5;
    }

    p {
        font-size: 12px;
        line-height: 1.5;
    }
}

@media (max-width:360px) {
    p {
        font-size: 11px;
        line-height: 1.5;
    }
}

@media (max-width:320px) {

}